@{
    ViewBag.Title = "NewbieGuide";
    Layout = "~/Views/Shared/beta.cshtml";
}

<link href="~/Content/Guide.css" rel="stylesheet" />

    <div id="container">
        <div class="maintitle">如何使用大鲲</div>
        <div class="usagestep">
            <div class="sub_title">
                <h3>我是项目方，如何完成项目？</h3>
            </div>
            <ol>
                <li>
                    <div class="line"></div>
                    <i class="icons icon-01"></i>
                    <span class="title">免费发布项目</span>
                    <span class="tips">1分钟发布</span>
                </li>
                <li>
                    <div class="line"></div>
                    <i class="icons icon-02"></i>
                    <span class="title">审核通过，挑选专家沟通</span>
                    <span class="tips">1小时对接</span>
                </li>
                <li>
                    <div class="line">平台托管资金</div>
                    <i class="icons icon-03"></i>
                    <span class="title">确定合作，完成支付</span>
                    <span class="tips">1天确定合作</span>
                </li>
                <li>
                    <div class="line"></div>
                    <i class="icons icon-04"></i>
                    <span class="title">完成项目，通过验收</span>
                    <span class="tips">3-10天验收</span>
                </li>
                <li>
                    <div class="line"></div>
                    <i class="icons icon-05"></i>
                    <span class="title">评价专家</span>
                    <span class="tips">3分钟评价</span>
                </li>
            </ol>
        </div>

        <div class="usagestep">
            <div class="sub_title">
                <h3>我是专家，如何入驻申请项目？</h3>
                <a class="more" href="#">如何接到更多项目</a>
            </div>
            <ol>
                <li>
                    <div class="line"></div>
                    <i class="icons icon-01"></i>
                    <span class="title">完善个人主页，提交申请</span>
                    <span class="tips">5分钟提交</span>
                </li>
                <li>
                    <div class="line"></div>
                    <i class="icons icon-02"></i>
                    <span class="title">审核通过</span>
                    <span class="tips">24小时审核</span>
                </li>
                <li>
                    <div class="line">平台托管资金</div>
                    <i class="icons icon-03"></i>
                    <span class="title">推荐/申请项目，沟通确认合作</span>
                    <span class="tips">1天确定合作</span>
                </li>
                <li>
                    <div class="line"></div>
                    <i class="icons icon-04"></i>
                    <span class="title">完成项目，通过验收</span>
                    <span class="tips">3-10天验收</span>
                </li>
                <li>
                    <div class="line"></div>
                    <i class="icons icon-05"></i>
                    <span class="title">收到酬劳</span>
                    <span class="tips">24小时到账</span>
                </li>
            </ol>
        </div>

        <div class="usagelist">
            <div class="sub_title">
                <h3>平台能为你做的：全面保障你的利益</h3>
                <a class="more" href="#">更多信任与保障</a>
            </div>
            <ul>
                <li class="fr">
                    <div class="title">
                        <i class="icon-watch icons"></i>
                        全程为你做专业监管
                    </div>
                    <p>在项目过程中，平台进行全程的专业监管，以保障项目顺利执行。</p>
                    <p>当双方遇到问题纠纷时，平台会全力协调处理。</p>
                </li>
                <li class="fr1">
                    <div class="title">
                        <i class="icon-verify icons"></i>
                        人工审核所有项目及专家
                    </div>
                    <p>
                        每一个发布的项目都必须通过平台的人工审核，确保项目靠谱真实，需求清晰。

                    </p>
                    <p>
                        每一位申请入驻的专家都必须满足在平台的人才标准：3年及以上工作经验，至少2

                        项作品案例，为满足条件但能力突出者需特殊申请。
                    </p>
                    <p>只有通过审核的专家，才可以在平台上申请项目。</p>
                </li>
                <li class="fr2">
                    <div class="title">
                        <i class="icon-promise icons"></i>
                        为你做资金担保
                    </div>
                    <p>平台会为项目方和专家进行资金担保，保障双方的利益。</p>
                    <p>项目方支付项目款到平台后，专家才开始执行项目。</p>
                    <p>专家交付项目、项目方确认验收后，平台才会将款项付给专家。</p>
                </li>

            </ul>
        </div>
    </div>

    <div id="footer">
        <div class="inner">
            <div class="brand f1">拉勾旗下按需雇佣平台</div>
            <ul class="quicklink f1">
                <li><a href="#">关于大鲲</a></li>
                <li><a href="#">用户协议</a></li>
                <li><a href="#">大鲲APP</a></li>
            </ul>
            <ul class="quicklink f1">
                <li><a href="#">新手指南</a></li>
                <li><a href="#">意见反馈</a></li>
                <li><a href="#">帮助中心</a></li>
            </ul>
            <ul class="quicklink f1">
                <li><a href="#">信任与保障</a></li>
                <li><a href="#">专业之道</a></li>
                <li><a href="#">社保服务（为你提供安稳保障）</a></li>
            </ul>
            <dl class="address">
                <dt>
                    <img src="/Images/wx-qrcode.png" width="130" height="130" />
                    <div class="tips">[ 关注大鲲公众号 ]</div>
                </dt>
                <dd>
                    <p>
                        TEL：010-56397158转8137
                        <br />
                        <span>(周一至周五 10:00-19:00)</span>
                        <br />
                        顾问邮箱：pro@lagou.com
                        <br />
                        顾问微信：bigfish1010
                    </p>
                </dd>
            </dl>
        </div>
        <div class="copyright">
            © 2016 Lagou 京ICP备14023790号-2 京公网安备11010802017116号
            <br />
            北京拉勾网络技术有限公司 版权所有大鲲、拉勾大鲲、大鲲拉勾
        </div>
    </div>
