<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/betamaster.css" rel="stylesheet" />
</head>
<body>
    <div id="header">
        <div id="innerhead">
            <div class="headlogo">
                <a href="#"><h1>大鲲</h1></a>
                <i class="icons">beta</i>
            </div>
            <ul class="nav">
                <li><a href="#">首页</a></li>
                <li><a href="#">项目</a></li>
                <li class="active" style="color:black;"><a href="/Beta/NewbieGuide">新手指南</a></li>
            </ul>
            <div class="entry">
                <div class="login">
                    <a href="#">登录</a> / <a href="#">注册</a>
                </div>
                <div class="appcode">
                    <div class="defaultapp">
                        <img class="icons black_icon" src="/Images/iphone1.svg" width="16" height="16" />
                        <img class="icons white_icon" src="/Images/iphone2.svg" width="16" height="16" />
                        <img class="icons green_icon" src="/Images/iphone3.svg" width="16" height="16" />
                        <span>大鲲APP</span>
                    </div>
                    <div class="qrcode">
                        <span class="downtips"></span>
                        <img src="/Images/down.png" width="140" height="140" />
                        <p class="tips">下载iOS版/Android版</p>
                    </div>
                </div>
                <a class="release" href="/Beta/CreateProject">免费发布项目</a>
            </div>
        </div>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        <div class="inner">
            <div class="brand f1">拉勾旗下按需雇佣平台</div>
            <ul class="quicklink f1">
                <li><a href="#">关于大鲲</a></li>
                <li><a href="#">用户协议</a></li>
                <li><a href="#">大鲲APP</a></li>
            </ul>
            <ul class="quicklink f1">
                <li><a href="#">新手指南</a></li>
                <li><a href="#">意见反馈</a></li>
                <li><a href="#">帮助中心</a></li>
            </ul>
            <ul class="quicklink f1">
                <li><a href="#">信任与保障</a></li>
                <li><a href="#">专业之道</a></li>
                <li><a href="#">社保服务（为你提供安稳保障）</a></li>
            </ul>
            <dl class="address">
                <dt>
                    <img src="/Images/wx-qrcode.png" width="130" height="130" />
                    <div class="tips">[ 关注大鲲公众号 ]</div>
                </dt>
                <dd>
                    <p>
                        TEL：010-56397158转8137
                        <br />
                        <span>(周一至周五 10:00-19:00)</span>
                        <br />
                        顾问邮箱：pro@lagou.com
                        <br />
                        顾问微信：bigfish1010
                    </p>
                </dd>
            </dl>
        </div>
        <div class="copyright">
            © 2016 Lagou 京ICP备14023790号-2 京公网安备11010802017116号
            <br />
            北京拉勾网络技术有限公司 版权所有大鲲、拉勾大鲲、大鲲拉勾
        </div>
    </div>


    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script type="text/javascript">
        $(".appcode").mouseover(function () {
            $(this).css("color", "#3dca99");
            $(".black_icon").css("display", "none");
            $(".green_icon").css("display", "block");
            $(".qrcode").css("display", "block");
        });
        $(".appcode").mouseleave(function () {
            $(this).css("color", "#555");
            $(".green_icon").css("display", "none");
            $(".black_icon").css("display", "block");
            $(".qrcode").css("display", "none");
        });

        $(".nav li").bind("click", function () {
            $(".nav li:not(this)").removeClass("active");
            $(this).addClass("active");
        });
        $(".release").bind("mousedown", function (event) {
            $(".nav").children().first().next().addClass("active");
            $(".nav").children().not($(".nav").children().first().next()).removeClass("active");
        });

    </script>
</body>
</html>
