body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
    color: #333;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}
        *{
            margin:0;
            padding:0;
            outline:0;
        }

        #header{
            width:100%;
            min-width:1200px;
            height:70px;
            background-color:#fff;
            border-bottom:1px solid #e0dfdf;
            position:relative;
            z-index:100;
        }
        #header #innerhead{
            max-width:1400px;
            margin:0 auto;
            height:70px;
            padding:17px 20px 0;
            box-sizing:border-box;
            zoom:1;
        }
        #innerhead .headlogo{
            width:100px;
            height:40px;
            position:relative;
            margin-top:-2px;
            float:left;
        }
        a{
            color:#333;
            background-color:transparent;
            text-decoration:none;
        }
        h1{
            margin:0;
            font-size:24px;
            font-weight:400;
        }
        #innerhead .headlogo a{
            width:100px;
            height:40px;
            position:relative;
            margin-top:-2px;
            display:block;
            background-image:url(/Images/detalogo.png);
            background-repeat:no-repeat;
            background-size:contain;
            text-indent:-2000em;
            color:#555;
        }
        #innerhead .headlogo .icons{
            position:absolute;
            top:6px;
            left:108px;
            line-height:16px;
            font-size:12px;
            color:#fff;
            padding:0 4px;
            background-color:#ed7266;
            border-radius:2px;
            background-clip:padding-box;
            font-style:normal;
        }

        ul,ol{
            margin:0;
            padding:0;
            list-style:none;
        }
        li{
            display:list-item;
            text-align:-webkit-match-parent;
        }
        #innerhead .nav{
            margin-left:122px;
            line-height:36px;
            float:left;
        }
        #innerhead .nav li{
            position:relative;
            margin-right:42px;
            float:left;
        }
        #innerhead .nav li a{
            font-size:18px;
            vertical-align:top;
        }
        #innerhead .nav .active{
            border-bottom:2px solid #3dca99;
        }
        #innerhead .nav .active a{
            color:#3dca99;
            font-weight:700;
        }

        #innerhead .entry{
            font-size:18px;
            color:#555;
        }
        #innerhead .entry .login{
            line-height:36px;
            font-size:14px;
            float:right;
        }
        #innerhead .entry .login a{
            font-size:14px;
            color:#555;
        }

        #innerhead .entry .appcode{
            position:relative;
            font-size:14px;
            margin-right:24px;
            cursor:default;
            float:right;
        }
        #innerhead .entry .appcode .defaultapp{
            line-height:36px;
            width:77.14px;
        }
        img{
            border:0;
            vertical-align:top;
            display:inline-block;
        }
        .entry .appcode .defaultapp .icons{
            margin-right:6px;
            vertical-align:middle;
            float:left;
            margin-top:11px;
        }
        .entry .appcode .black_icon{
            display:inline-block;
        }
        .entry .appcode .white_icon{
            display:none;
        }
        .entry .appcode .green_icon{
            display:none;
        }
        .entry .appcode span{
            display:inline-block;
            vertical-align:middle;
        }


        .entry .appcode .qrcode{
            display:none;
            position:absolute;
            left:50%;
            top:50px;
            width:156px;
            padding:6px 0 12px;
            border-radius:3px;
            background-clip:padding-box;
            margin-left:-78px;
            border:1px solid #dce0e0;
            text-align:center;
            background-color:#fff;
            color:#999;
        }
        .entry .appcode .downtips{
            position:absolute;
            width:16px;
            height:7px;
            background:url(/Images/downtips.png) no-repeat;
            left:50%;
            margin-left:-8px;
            top:-7px;
        }
        p{
            margin:0;
            display:block;
        }
        #innerhead .entry .release{
            padding:0 20px;
            height:36px;
            margin-right:36px;
            border-radius:21px;
            background-clip:padding-box;
            text-align:center;
            line-height:36px;
            font-size:14px;
            background-color:#2b2d2e;
            color:#fff;
            float:right;
        }
