

        #container .maintitle{
            width:100%;
            min-width:1200px;
            height:300px;
            margin:0 auto;
            line-height:300px;
            color:#fff;
            font-size:50px;
            text-align:center;
            background:url(/Images/banner.png) no-repeat;
            background-size:cover;
        }
        #container>div{
            width:1200px;
            margin:0 auto;
        }
        #container .usagestep{
            padding:82px 0 90px 0;
            border-bottom:1px solid #ebebeb;

        }
        .sub_title{
            position:relative;
            text-align:center;
            line-height:34px;
        }
        h3{
            font-size:26px;
            margin:0;
            font-weight:400;
            color:#333;
        }

        #container .usagestep ol {
            zoom: 1;
            height: 99px;
            margin-top: 70px;
        }
        .usagestep ol li{
            position:relative;
            display:block;
            float:left;
            width:20%;
            text-align:center;
        }
        .usagestep ol li .line {
            color: #3dca99;
            position: absolute;
            left: 100%;
            bottom: 90px;
            width: 88px;
            margin-left: -44px;
            line-height: 28px;
            border-bottom: 1px dashed #b1ead6;
            font-size: 12px;
        }
        .usagestep li span{
            display:block;
        }
        .usagestep li .title{
            margin-top:24px;
            font-size:16px;
        }
        .usagestep li .tips{
            margin-top:4px;
            font-size:12px;
            color:#999;
        }

        .sub_title .more
        {
            position:absolute;
            right:56px;
            top:0;
            color:#3dca99;
            font-size:14px;
        }
        .sub_title .more:after {
            content: '';
            display: inline-block;
            border-width: 6px;
            border-style: solid;
            border-color: transparent transparent transparent #3dca99;
            margin-left: 8px;
        }
        .usagelist{
            padding-top:82px;
        }
        .usagelist ul{
            margin:70px 32px 0;
            zoom:1;
            height:248px;
        }
        .usagelist ul:before,
        .usagelist ul:after{
            content:"";
            display:table;
        }
        .usagelist li{
            width:306px;
            margin:0 auto;
        }
        .fr{
            float:right;
        }
        .fr1{
            float:left;
        }
        .fr2{
            float:none;
        }
        .usagelist li .title{
            line-height:38px;
            margin-bottom:20px;
            font-size:22px;
        }
        .usagelist li .icons{
            color:#656766;
            font-size:38px;
            margin-right:18px;
            vertical-align:middle;
        }
        .usagelist li p{
            position:relative;
            line-height:24px;
            margin-left:14px;
            font-size:14px;
            color:#333;
        }
        .usagelist li p:before{
            position:absolute;
            left:-14px;
            top:8px;
            content:'';
            display:inline-block;
            width:5px;
            height:5px;
            vertical-align:middle;
            border-radius:50%;
            background-color:#333;
        }
        li{
            display:list-item;
            text-align:-webkit-match-parent;
        }

        
